<div class="container chat-container">
  <div class="row">
    <div class="message-container">
      <chat-display [chatMessages]="messages" [users]="users"></chat-display>
    </div>
  </div>
  <div class="input-area">
    <chat-input input="" (messageSubmitEvent)="addChatMessage($event);"></chat-input>
  </div>
</div>
