<div class="container chat-display-area">
  <ul class="list-group">
    <li class="message list-group-item" *ngFor="let msg of chatMessages">
      <div class="col-xs-1">ユーザーID:{{ msg?.user_id }}</div>
      <div class="col-xs-9 fukidashi"><span>{{msg?.message }}</span></div>
    </li>
  </ul>
</div>
